@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 500vh;
    background-color: black;
}

.container {
    max-width: 1280px;
    margin: auto;

    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
}

/*MENU*/
.bi-list {
    display: none;
} /*MENU*/

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

header.rolagem {
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i {
    color: rgb(255, 87, 4);
}

header i {
    font-size: 3em;
    color: rgb(255, 87, 4);
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: red;
    font-size: 1.5em;
    text-decoration: none;
}

.btn-contato button {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.banner {
    height: 100vh;
    background-image: url(Imagens/paisagem.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 4em;
    color: white;
}

.banner h1 span {
    color: red;
}